/*.custom-navbar{*/
/*  background-color: #003973;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  width: 100%; !* Navbar'ın genişliği *!*/
/*  height: 80px; !* Navbar'ın yüksekliği *!*/

/*.navbar-title{*/
/*  >a{*/
/*    color: white !important;*/
/*    margin-left: 100px;*/
/*    font-size: 30px;*/
/*    font-weight: bolder;*/
/*    text-decoration: none;*/
/*  }*/

/*}*/
/*  .nav-links{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    a{*/
/*      color: white;*/
/*      margin-left: 35px;*/
/*    }*/
/*  }*/
/*}*/

.custom-navbar {
  background-color: #003973;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Navbar'ın genişliği */
  height: 80px; /* Navbar'ın yüksekliği */
}

.custom-navbar .navbar-title > a {
  color: white !important;
  margin-left: 100px;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
}

.custom-navbar .nav-links {
  display: flex;
  align-items: center;
}

.custom-navbar .nav-links a {
  color: white;
  margin-left: 35px;
}
